*
{
    margin: 0;
    padding: 0;
    
}
    body
    {    
        font-family: sans-serif;
        
    }

    #nav-bar
    {
        
        position: sticky;
        top: 0;
        z-index: 10;
        
        
    }
    .navbar
    {
        
        background-image: linear-gradient(to right , #a517ba, #5f1782);
        padding: 0 !important;
    }

.navbar-brand 
{
    height: 40px;
    padding-left: 28px;
    color: #fff;

}

.navbar-nav li a 
{
    color: #fff !important;
    font-weight: 600;
    float: right;
}

.fa-bars
{
    color: #FFFFFF;
    font-size: 30px !important;
}
.navbar-toggler
{

     outline: none !important ;
}

/*---------------BANNER SECTION -----------------------*/ 
#banner
{
    background-image: linear-gradient(to right , #a517ba, #5f1782);
    color: #ffffff;
    padding-top: 10%;


}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 5px;
}

.play-btn
{
    
    width: 85px;
    margin: 20px;
    padding: 20px;

}

#banner a
{
    color: #fff;
    text-decoration: none;
}

.img10
{
    float: right;
    width: 350px;
    padding: 20px;
}